<!DOCTYPE>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Green Exchange</title>
		<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/app.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 class="mainhead">Green Exchange</h1>
		</div>
		<div class="col-md-4">
			<h3>Sign In</h3>
			<form method="post">
				<div class="form-group">
					<label for="emailSighnInSplash">Email: </label>
					<textarea class="form-control" id="emailSighnInSplash" rows="1"></textarea>
				</div>
				<div class="form-group">
					<label for="passwordSignInSplash">Password: </label>
					<textarea class="form-control" id="passwordSignInSplash" rows="1"></textarea>
				</div>
				<br>
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary" id="submitNewMember">Sign In</button>
				</div>
				<div class="col-md-10"></div>
			</form>
		</div>
		<br><br><br><br>
	</div>
	<!-- name entry -->
	<div class="container-fluid">
		<form id="newUser">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-4">
					<h2>New User</h2>
					<div class="form-group">
						<label for="nameNewMemberSplash">Name: </label>
						<textarea class="form-control" id="nameNewMemberSplash" rows="1"></textarea>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<!-- city -->
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="cityNewMemberSplash">City: </label>
						<textarea class="form-control" id="cityNewMemberSplash" rows="1"></textarea>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<!-- email -->
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="emailNewMemberSplashi">Email: </label>
						<textarea class="form-control" id="emailNewMemberSplash" rows="1"></textarea>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="passwordNewMemberSplash1">Create Password: </label>
						<textarea class="form-control" id="passwordNewMemberSplash1" rows="1"></textarea>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="passwordNewMemberSplash2">Re-enter Password: </label>
						<textarea class="form-control" id="passwordNewMemberSplash2" rows="1"></textarea>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<br>
			<div class="col-md-3"></div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary" id="submitNewMember">Submit</button>
			</div>
			<div class="col-md-7"></div>	
		</form>
	</div>
</body>
</html>