<!DOCTYPE>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Green Exchange - Create a Listing</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<script src="/app.js"></script>
</head>
<body>
	<header>
		<h2>What I Got</h2>
		<br>
		<!-- navigation choices -->
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<div id="dropdownSearch" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Strains <span class="caret"></span></a>	
								<ul class="dropdown">
									<li>
										<a href="/views/layouts/indica.handlebars">Indica</a>
									</li>
									<li>
										<a href="/views/layouts/sativa.handlebars">Sativa</a>
									</li>
									<li>
										<a href="/views/layouts/hybrid.handlebars">Hybrid</a>
									</li>			
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- text search -->
			<div class="container">
				<h3>Search<h3>
				<div class="input-group">
				    <textarea class="form-control custom-control" rows="1" style="resize:none" id="textSearch"></textarea>     
	    			<span class="input-group-addon btn btn-primary">Lookin For Dat Green</span>
				</div>
			</div>
		</nav>
	</header> 
	<!-- go to my listings -->
	<div class="container">
  		<h2>See My Sh*t</h2>
		<a href="/views/partials/myPosts.handlebars" class="btn btn-info" id="createListing" role="button">My Trees</a>
	</div>
	<!-- create a listing -->
	<div class="container">
		<form>
			<!-- name -->
			<div class="form-group">
				<h2>Name of Strain</h2>
				<label for="nameOfStrain">Strain's Name: </label>
				<textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
			</div>
			<!-- type of strain - radio buttons -->
			<fieldset class="form-group">
    			<legend>Type of Strain</legend>
    			<div class="form-check">
      				<label class="form-check-label">
        				<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        				Indica
      				</label>
    			</div>
    			<div class="form-check">
    				<label class="form-check-label">
        				<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        				Sativa
     				</label>
    			</div>
    			<div class="form-check">
    				<label class="form-check-label">
        				<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option3">
        				Hybrid
     				</label>
    			</div>				
  			</fieldset>
  			<!-- discription -->
			<div class="form-group">
				<h2>Tell us all about the high</h2>
				<label for="discription">Discription: </label>
				<textarea class="form-control" id="exampleTextarea" rows="5"></textarea>
			</div>
			<!-- image - drag and drop -->
<!-- 			for the team, in case you see this before I see you: 	I found this plug in which, I believe, I can make it work. I just need to know where I am putting the js so I can test it. -Russ-
			source: http://www.dropzonejs.com/#installation-->
			
			<!-- submiting the form -->
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>			  				
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- this is for the image -->
<!-- <script type="text/javascript" src="js/dropzone.js"></script>
	<script src="bootstrap.js"></script> -->
</body>
</html>	