body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dropbox {
    float: left; 
    width: 100%; 
    height: 35%;
    margin: 0 0 1% 0;
    border: 1px solid #aaaaaa;
    text-align: center;
}

header {
	background-color: rgb(124,252,0);
}

.pagehead {
	text-decoration: underline;
	font-weight: bold;
	padding: 1% 0 0 1%;
}

#personalLinks {
	background-color: rgb(0,100,0);
	height: 100%
}

.listCatagories {
	color: white;
}
